/* CSS code for JavaScript code */
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 1vh;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 93, 93); /* Set page background color to red */
}

button {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #3b282c);
    background-image: -moz-linear-gradient(top, #d93434, #3b282c);
    background-image: -ms-linear-gradient(top, #d93434, #3b282c);
    background-image: -o-linear-gradient(top, #d93434, #3b282c);
    background-image: linear-gradient(to bottom, #d93434, #3b282c);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 0px;
    text-decoration: none;
}  
button:hover {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #3b282c, #d93434);
    background-image: -moz-linear-gradient(top, #3b282c, #d93434);
    background-image: -ms-linear-gradient(top, #3b282c, #d93434);
    background-image: -o-linear-gradient(top, #3b282c, #d93434);
    background-image: linear-gradient(to bottom, #3b282c, #d93434);
    text-decoration: none;
}

.pointer:hover {
    cursor:pointer;
}
.no-drop {
    cursor: no-drop;
}

#goToStudentPage {
    margin-top: 5px;
    margin-left: 5px;
}

.main-menu {
    position: fixed;
    top: 10%;
    bottom: 9%;
    left: 3%;
    width: 18%;
    height: 80%;
    /* From https://css.glass */

    /*background: rgba(147, 154, 208, 0.57);*/
    background: rgba(255, 255, 255, 0.57);
    
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-right {
    position: fixed;
    top: 10%;
    bottom: 9%;
    right: 3%;
    width: 18%;
    height: 80%;
    /* From https://css.glass */

    /*background: rgba(147, 154, 208, 0.57);*/
    background: rgba(255, 255, 255, 0.57);
    
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    -webkit-backdrop-filter: blur(12.1px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-input { 
    font-size:16px; 
    border-style:inset; 
    border-color:#a8a8a8; 
    text-align:left; 
    border-width:1px; 
    border-radius:8px; 
    box-shadow: 2px 4px 12px 0px rgba(0,0,0,.72); 
    text-shadow:0px 0px 0px rgba(42,42,42,.75); 
    font-weight:normal; font-family:sans-serif; 
    padding:6px;  
    margin-bottom: 10px;
}

.description-input {
    font-size:16px; 
    border-style:inset; 
    border-color:#a8a8a8; 
    text-align:left; 
    border-width:1px; 
    border-radius:8px; 
    box-shadow: 2px 4px 12px 0px rgba(0,0,0,.72); 
    text-shadow:0px 0px 0px rgba(42,42,42,.75); 
    font-weight:normal; font-family:sans-serif; 
    padding:6px;  
    margin-bottom: 10px;
}
.description-input:hover {
    overflow-y: auto; /* show scrollbar on hover */
}
.description-input {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.send-button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.description-input input {
    flex-grow: 1;
    margin-right: 10px;
}
.main-menu-input:focus { 
    outline:none; 
}  

.select {
    position: relative;
    display: flex;
    margin-top: 10px;
}    .select select {
        font-family: Arial;
        font-size:15px;
        font-weight:bold;
        text-align: left;
        text-decoration:none;
        text-shadow:0px 1px 0px rgb(116, 76, 85);
        display: flex;
        width: 100%;
        cursor: pointer;
        padding: 7px 40px;
        outline: 0;
        border: 0px solid #d93434;
        border-radius: 6px;
        background:linear-gradient(to bottom, #d93434 5%, #3b282c 100%);
        background-color:#d93434;
        color: #ffffff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
            text-align: left;
        }
        .select select:hover,
        .select select:focus {
            color: #ffffff;
            background:linear-gradient(to bottom, #3b282c 5%, #d93434 100%);
            background-color:#3b282c;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 12px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #ffffff transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #ffffff;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #ffffff;
}