/* CSS code for JavaScript code */
/* Global Styles */
body {
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;
    background-color: rgb(244, 93, 93); /* Set page background color to red */
}

/* Club Container Styles */
#clubsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 2-column format, with columns added as needed */
    gap: 20px; /* Adjust gap between club divs */
    padding: 20px; /* Add padding */
}
  
  /* Styles for club container */
  .club-container {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Add border radius */
    box-shadow: 5px 5px 5px rgb(178, 176, 176);
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .club-container:hover {
    transform: scale(1.03); /* Scale the container to appear larger */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Increase box shadow */
  }
  
  /* Styles for club logo */
  .club-logo {
    width: 10vw;
    height: 10vw;
    margin-right: 2vw;
  }
  
  /* Styles for club details */
  .club-details {
    flex: 1;
  }
  
  /* Styles for main title */
  #mainTitle {
    text-align: center;
    font-size: 2.4vh;
    margin-bottom: 2vh;
  }
  
  /* Global Styles */
body {
    font-family: Arial, sans-serif;
    
}

/* Events Container Styles */
#eventsContainer {
    margin-top: 1vh;
}

button {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #3b282c);
    background-image: -moz-linear-gradient(top, #d93434, #3b282c);
    background-image: -ms-linear-gradient(top, #d93434, #3b282c);
    background-image: -o-linear-gradient(top, #d93434, #3b282c);
    background-image: linear-gradient(to bottom, #d93434, #3b282c);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 0px;
    text-decoration: none;
}  
button:hover {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #3b282c, #d93434);
    background-image: -moz-linear-gradient(top, #3b282c, #d93434);
    background-image: -ms-linear-gradient(top, #3b282c, #d93434);
    background-image: -o-linear-gradient(top, #3b282c, #d93434);
    background-image: linear-gradient(to bottom, #3b282c, #d93434);
    text-decoration: none;
}

#mainTitle {
    text-align: center;
}

/* Table Title Styles */
#tableTitleDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
}

/* Day Div Styles */
.parent {
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 2vh;
}

#mon,
#tue,
#wed,
#thu,
#fri,
#sat,
#sun {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 3vh;

    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2vh;
}
  
.pointer:hover {
  cursor:pointer;
}
.no-drop {
  cursor: no-drop;
}

/* CSS for expanded club view */
#expandedClubView {
  position: fixed;
  top:10%;
  left:10%;
  width: 80%;
  height: 80%;
  z-index: 9999; /* Ensure it's above other elements */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#expandedClubDetails {
  /* Match styles with .club-container */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(178, 176, 176);
  display: flex;
  flex-direction: column; /* Align content in column */
  align-items: center; /* Center horizontally */
  max-width: 100%; /* Take up maximum 80% of the screen */
  height: 75%; /* Take up 80% of the screen vertically */
  overflow-y: auto; /* Add vertical scroll if content exceeds */
}

#expandedClubButtons {
  margin-top: 20px;
}

#expandedClubButtons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#expandedClubButtons button:hover {
  background-color: #0056b3;
}

.club-logo-expanded {
  width: 10vw;
  height: 10vw;
}

/* Hide the main content when the club view is expanded */
body.expanded-club-view #clubsContainer,
body.expanded-club-view #eventsContainer {
  display: none;
}

.hidden {
  display: none;
}